@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');

* {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  outline: 0;
}

.addguest {
  text-align: center;
  width: 200px;
  height: 200px;
}

.currentpage:before {
  content: "[";
}

.currentpage:after {
  content: "]";
}

.search-box {
  display: flex;
  z-index: 1;
  width: 100%;
}

.content{
background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
opacity: .7;
}

table{
 width: 100%;
 border-collapse: collapse;
 border-spacing: 0;
 box-shadow: 0 2px 15px rgba(64,64,64,.7);
 border-radius: 12px 12px ;

}
td , th{
 padding: 3px 7px;
 text-align: center;
}

th{
 background-color: #1CB5E0;
 color: #fafafa;
 font-family: 'Open Sans',Sans-serif;
 font-weight: 200;
 text-transform: uppercase;
}

tr{
 width: 100%;
 background-color: #fafafa;
 font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even){
 background-color: #b7e4f7;
}

h1,h3{
  color:white;
}

.guest, h4
{
  color: #1CB5E0;
}

.list { text-align: center; }

.list ul {
  display:inline-table;  width: 40%;
  font-family: 'Lobster', cursive;
  font-size: 24px;

  border-radius: 12px 12px ;
}
.list li { display:inline; }
