<div class="search">
  <div class="one">
  <form class="search-box" action="" method="post">
    <input id="one" class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
    <button id="two" name="submit-search" class="btn btn-light my-2 my-sm-0" type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
  </div>
  <div class="two">
  <form action="export1.php" method="post" class="csv">
    <input type="submit" name="export" value="CSV EXport" class="btn btn-light my-2 my-sm-0" >
  </form>
</div>
</div>